.card__show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 250px 1fr;
    width: 600px;
    margin: 0 auto;
  }
  
}

.card__img {
  width: 250px;
  height: 370px;
  background-size: cover;
  background-position: center;
}

.card__details {
  list-style: none;
  font-family: "Oswald", Helvetica;
}