.container__list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 167px 167px 167px 167px 167px;
}

.list__characters {
  list-style: none;
}

.characters__link {
  text-decoration: none;
}

.characters__img {
  width: 167px;
  height: 233px;
}

.characters__name {
  font-family: "Oswald", Helvetica;
}

.characters__house {
  font-family: "Oswald", Helvetica;
}