.container__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;

  @media all and (min-width: 768px) {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 167px 167px 167px;
  }

  @media all and (min-width: 1020px) {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 167px 167px 167px 167px 167px;
  } 
}

.list__characters {
  list-style: none;
  background: black;
}

.list__link {
  text-decoration: none;
}

.container__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 167px;
}

.list__img {
  width: 167px;
  height: 233px;
}

.list__name {
  font-family: "Oswald", Helvetica;
  text-decoration: none;
  margin: 5px;
  color: #ddc8a9;
  text-align: center;
}

.list__house {
  width: 50px;
}