.container__label {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 25px;
  width: 150px;
  background: black;
  color: goldenrod;

  @media all and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 450px;
  }

  @media all and (min-width: 1020px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 800px;
  }
}