body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: "Oswald", Helvetica;
}

.container {
  height: 100vh;
}

.container__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 5px auto;
}

.container__img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
