body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", Helvetica;
}

.container {
  background-image: url('../images/Clouds.jpg');
  background-size: cover;
  overflow: auto;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.container__title {
  margin-left: 0;
  color: transparent;
}

.container__img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
